* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pappa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 500px;
    border: 2px solid black;
    align-items: center;
}

.bachay {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px solid green;
    border-radius: 10px;
}

#two {
    background-color: red;
    color: white;
    order: 1;
    align-self: flex-start;
}

#one {
    align-self: flex-end;
}