:root {
  color-scheme: light dark;
  --text-color: #57564f;
  --primary-color: #dddad0;
  --secondary-color: #7a7a73;
  --tertiary-color: #f8f3ce;
}

[data-theme="dark"] {
  --text-color: #eeeeee;
  --primary-color: #8e1616;
  --secondary-color: #1d1616;
  --tertiary-color: #d84040;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  /* color: #57564f; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 10px 15px;
  height: 48px;
}

.nav-btn,
.login-btn,
.signup-btn {
  padding: 4px;
  font-size: 14px;
}

.nav-auth-btn-div {
  position: relative;
}

.nav-ham-menu {
  position: absolute;
  right: 0;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 6px rgba(122, 122, 115, 1);
  padding: 6px 8px;
  border-radius: 5px;
}

.nav-ham-menu div {
  margin-bottom: 5px;
}

.nav-ham-btn {
  height: 20px;
  width: 20px;
}

.cards-div {
  /* background-color: #dddad0; */
  background-color: var(--primary-color);
  padding: 20px;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  height: 440px;
  width: 350px;
  border-radius: 8px;
}

.card .card-title {
  font-size: 28px;
}

.card .card-price {
  font-weight: 600;
  font-size: 18px;
}

.card .card-desc {
  font-size: 18px;
}

@media (max-width: 749px) {
  .card {
    height: 500px;
    width: 450px;
  }
}

@media (max-width: 550px) {
  .nav-btn-div,
  .login-btn,
  .signup-btn {
    display: none;
  }
}

@media (min-width: 551px) {
  .nav-ham-btn,
  .nav-ham-menu {
    display: none;
  }
}
